<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
<title th:text="${room.title}">main</title>
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/chatting.css}" rel="stylesheet">
<link th:href="@{/css/base.css}" rel="stylesheet">
<script th:src="@{/js/base.js}" defer></script>

</head>
<body>
	<div class="whole">
	  	<div id="topMenuDiv">
			<a href="/app/mainpage" id="mainLogoA">
				<img id ="logoImage" src="/image/임시로고.png">
			</a>
			<div id="topMenuRight">
				<div class="topMenuItem" th:text="${#authentication.name} + ' 님!'">사용자</div>
				<a class="topMenuItem logout" href="/app/logout">로그아웃</a>
				<a id="roomsetting" class="topMenuItem logout" th:href="@{/app/roomsetting/{id}(id=${room.id})}">방 정보 수정</a>
			</div>
		</div>
		<div class="middleArea">
			<div class="middleHeader">
				<div class="menu">
					<div class="menuItem">
						<a th:href="@{/app/base/{id}(id=${room.id})}" class="menuItemMain">메인</a>
					</div>
					<div class="menuItem">
						<a th:href="@{/app/calendar/{id}(id=${room.id})}"
							class="menuItemCalendar">캘린더</a>
					</div>
					<div class="menuItem">
						<a th:href="@{/app/calculator/{id}(id=${room.id})}"
							class="menuItemCalculator">계산기</a>
					</div>
					<div class="menuItem">
						<a th:href="@{/app/memo/{id}(id=${room.id})}" class="menuItemMemo">메모장</a>
					</div>
					<div class="menuItem">
						<a th:href="@{/app/gallery/{id}(id=${room.id})}"
							class="menuItemUpload">갤러리</a>
					</div>
				</div>
			</div>
			<div class="notification">
				<div class="notificationText" th:text="${room.title}">[제목]</div>
			</div>
			<div class="main">
				<div class="mainLeft">
					<div class="functionMain">

						<!-- 메모 보여지는 칸 -->
						<a th:href="@{/app/memo/{id}(id=${room.id})}" class="basepreview">
							<div id="memopreviewtitle">메모장</div>
							<div id="memopreviewcontainer">
								<div th:each="memo, iterStat : ${memos}" th:if="${memo.room.id == room.id}" class="addmemo">
									<div class="memodiv" data-memo-id="${memo.id}">
										<div th:class="'memo-block memo-' + ${iterStat.index}">
											<div class="memoinfo">
												<div th:text="${memo.id}" class="basememopreview memoid">방 번호</div>
												<div th:text="${memo.user.name}" class="basememopreview">작성자</div>
												<div th:text="${memo.writedate}" class="memo-date">작성된 날짜</div>
											</div>
											<div th:text="${memo.memo}" class="basepreviewmemo">적힌 글</div>
										</div>
									</div>
								</div>
							</div>
						</a>

						<!-- 이미지 보여주는 칸 -->
						<a th:href="@{/app/gallery/{id}(id=${room.id})}" class="basepreview" id="galpreview">
							<div id="gallerypreviewtitle">갤러리</div>
							<div id="galpreviewslide">
								<div th:each="imageUrl : ${imageUrls}" class="galpreviewbox">
									<img th:src="@{${imageUrl}}" alt="이미지 로딩중" class="imgpreview">
								</div>
							</div>
						</a>


						<!-- 계산기 결과 보여주는 칸 -->
						<a th:href="@{/app/calculator/{id}(id=${room.id})}" class="basepreview">
							<div id="calpreviewtitle">계산 결과</div>
							<div id="calpreviewcontainer">
								<div th:each="cal : ${calculator}" class="calresultpreviewbox">
									<div th:text="${cal.submissionDate}">만든 날짜</div>
									<span class="calSpanText">[총액 </span>
									<span class="calSpanText calSpanNum" id="sumPrice" th:text="${cal.sumPrice}"></span>
									<span class="calSpanText">원] 인원수 </span>
									<span class="calSpanText calSpanNum" id="numPeople" th:text="${cal.numPeople}"></span>
									<span class="calSpanText">명 :: 인당 </span>
									<span class="calSpanText calSpanNum" id="resultPrice" th:text="${cal.resultPrice}"></span>
									<span class="calSpanText">원</span>
								</div>
							</div>
						</a>

					</div>
				</div>
				<div class="mainChatting">
                    <div class="chatting1">
                        <h4 class="chatting2" style="color:black" >
                            [공지사항 :: /pop=]<br>
                            <span id="announce">[공지사항]</span>
                        </h4>
						
                        
						<div class="online-users">
					        <h4 style="color: black">
					        접속 중 [<span id="user-count">0</span>명 ::
					        <span id="user-list"></span>]
					        </h4>
					    </div>
					    
                       	<div id="chatting_area">
							<div>
	                         	<template id="chattinglog">
									<div class="chat">
										<span class="author"></span>
										<span class="chatting"></span>
									</div>
								</template>
							</div>
						</div>
						<div class="chatInputArea">
									<input id="chatting_input"><button id="chatting_button"type="button">입력</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:inline="javascript"  th:if="${alertMessage == null}">
	// ** 빨간줄 오류 아님 - authUser 이름 가져오기 
	const currentUserName = [[${userName}]] + ': ';
</script>
<script th:src="@{/js/websocket.js}" defer></script>
</html>















