<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="${room.title} + ' - 갤러리'">Gallery</title>
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/chatting.css}" rel="stylesheet">
<link th:href="@{/css/gallery.css}" rel="stylesheet">
<script th:src="@{/js/gallery.js}" defer></script>

</head>
<body>
	<div class="whole">
		<div id="topMenuDiv">
   			<a href="/app/mainpage" id="mainLogoA">
      			<img id ="logoImage" src="/image/임시로고.png">
   			</a>
   			<div id="topMenuRight">
      			<div class="topMenuItem" th:text="${#authentication.name} + ' 님!'">사용자</div>
      			<a class="topMenuItem logout" href="/app/logout">로그아웃</a>
      			<a id="roomsetting" class="topMenuItem logout" th:href="@{/app/roomsetting/{id}(id=${room.id})}">방 정보 수정</a>
   			</div>
		</div>
		<div class="middleArea">
			<div class="middleHeader">
				<div class="menu">
					<div class="menuItem">
						<a th:href="@{/app/base/{id}(id=${room.id})}" class="menuItemMain">메인</a>
					</div>
					<div class="menuItem">
						<a th:href="@{/app/calendar/{id}(id=${room.id})}"
							class="menuItemCalendar">캘린더</a>
					</div>
					<div class="menuItem">
						<a th:href="@{/app/calculator/{id}(id=${room.id})}"
							class="menuItemCalculator">계산기</a>
					</div>
					<div class="menuItem">
						<a th:href="@{/app/memo/{id}(id=${room.id})}" class="menuItemMemo">메모장</a>
					</div>
					<div class="menuItem">
						<a th:href="@{/app/gallery/{id}(id=${room.id})}"
							class="menuItemUpload">갤러리</a>
					</div>
				</div>
			</div>
			<div class="notification">
				<div class="notificationText" th:text="${room.title}">[제목]</div>
			</div>
			<div class="main">
				<div class="mainLeft">
					<div class="functionUpload">
						<!-- 이미지 업로드 폼 -->
						<div id="imageUploadContainer">
							<form id="imageUploadForm"
								th:action="@{/api/gallery/{id}(id=${room.id})}" method="post"
								enctype="multipart/form-data">
								<div class="imageInputWrapper">
									<input type="file" name="file" accept="image/*" multiple id="imageInput">
									<label for="imageInput"class="imageInputButton" id="imageInputButton">이미지 불러오기</label>
									<!-- 이미지 미리보기 -->
									<div id="imagePreview">이미지 드롭</div>
								</div>
								<button id="imageSubmitButton" type="submit">전송</button>
							</form>
						</div>
						<div id="galleryScrollBox">
							<div id="imageContainer" class="image-preview"
								data-room-id="[[${room.id}]]">
								<div class="uploadImageBox" th:each="imageUrl : ${imageUrls}">
									<img th:src="@{${imageUrl}}" alt="이미지 로딩중">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mainChatting">
                    <div class="chatting1">
                        <h4 class="chatting2" style="color:black" >
                            [공지사항 :: /pop=]<br>
                            <span id="announce">[공지사항]</span>
                        </h4>
                        
						<div class="online-users">
					        <h4 style="color: black">
					        접속 중 [<span id="user-count">0</span>명 ::
					        <span id="user-list"></span>]
					        </h4>
					    </div>
					    
                       	<div id="chatting_area">
							<div>
	                         	<template id="chattinglog">
									<div class="chat">
										<span class="author"></span>
										<span class="chatting"></span>
									</div>
								</template>
							</div>
						</div>
						<div class="chatInputArea">
							<input id="chatting_input">
							<button id="chatting_button" type="button">입력</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:inline="javascript">
	// ** 빨간줄 오류 아님 - authUser 이름 가져오기 
	const currentUserName = [[${userName}]] + ': ';
</script>
<script th:src="@{/js/websocket.js}" defer></script>
</html>
